body {
  font-family: 'Open Sans', sans-serif;
}

text {
  font-size: 12px;
}

line {
  stroke: gray;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

#chart-area {
  margin-top: 20px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.value {
  font-size: 12px;
  fill: #fff;
}

text.label {
  font-size: 12px;
  font-weight: 400;
}

